<h2> Log In </h2>

<form action="/check-login" method="post">
  <label for="email-input"> Email </label>
  <input id="email-input" type="email" name="emailValue">

  <label for="password-input"> Password </label>
  <input id="password-input" type="password" name="passwordValue">

  <button> Log In </button>
</form>
