<h2> Search </h2>

<form method="get" action="/results">
  <label for="search-term-input">
    Search the Web
  </label>
  <input id="search-term-input" type="search" name="searchTerm">
  <br>

  <input id="interest-box" type="checkbox" name="interestBox">
  <label for="interest-box"> Interested in Pizza? </label>
  <br>

  <button> Search Now! </button>

  <!-- OR
  <input type="submit" value="Search Now!"> -->
</form>
